# Exercícios de Manipulação de Dados com pandas

Responda aos exercícios abaixo utilizando as funcionalidades da biblioteca pandas.

### Exercício 1
Crie uma `Series` com os números 5, 10, 15 e 20. Em seguida, exiba essa `Series`.

In [ ]:
# Exercício 1
import pandas as pd

### Exercício 2
Crie uma `Series` com os valores 100, 200, 300 e índices personalizados 'x', 'y', 'z'. Exiba a `Series` resultante.

In [ ]:
# Exercício 2

### Exercício 3
Construa um `DataFrame` a partir de um dicionário com as seguintes chaves e valores:
- `'Produto'`: ['Caderno', 'Lápis', 'Caneta']
- `'Preço'`: [10, 2, 3]
- `'Estoque'`: [100, 300, 150]  
Exiba o `DataFrame`.

In [ ]:
# Exercício 3

### Exercício 4
Selecione e exiba apenas a coluna `'Produto'` do `DataFrame` criado no exercício anterior.

In [ ]:
# Exercício 4

### Exercício 5
Selecione e exiba as colunas `'Produto'` e `'Estoque'` do `DataFrame`.

In [ ]:
# Exercício 5

### Exercício 6
Exiba a primeira linha do `DataFrame` usando `iloc`.

In [ ]:
# Exercício 6

### Exercício 7
Exiba a segunda linha do `DataFrame` usando `loc`.

In [ ]:
# Exercício 7

### Exercício 8
Filtre os produtos cujo preço seja maior que 2. Exiba o resultado.

In [ ]:
# Exercício 8

### Exercício 9
Crie uma nova coluna chamada `'Loja'` com os valores: ['Loja A', 'Loja B', 'Loja A']. Em seguida, agrupe os dados por `'Loja'` e calcule a **soma** de `'Estoque'`.

In [ ]:
# Exercício 9

### Exercício 10
Adicione uma nova coluna chamada `'Valor Total'`, que seja o resultado de `'Preço'` multiplicado por `'Estoque'`. Exiba o `DataFrame` com essa nova coluna.

In [ ]:
# Exercício 10