# Aula de Manipulação de Dados com Pandas
Lista de Exercícios usando dados.csv e dados2.csv

In [1]:
import pandas as pd

## 1. Carregamento de Dados
Carregue o arquivo `dados.csv` e mostre as 10 primeiras linhas.

## 2. Seleção de Colunas
Selecione a coluna `nome`.

## 3. Exclusão de Colunas
Remova a coluna `error404` e mostre o DataFrame.

## 4. Filtro por Condição
Filtre apenas as pessoas com idade maior que 25 anos.

## 5. Ordenação de Dados
Ordene os dados pelo salário de forma decrescente.

## 6. Tratamento de Dados Nulos
Preencha valores nulos da coluna `cidade` com `Desconhecido`.

## 7. Criação de Novas Colunas
Crie uma nova coluna `dobro_idade` que seja o dobro da idade.

## 8. Agrupamento e Agregação
Calcule a média de salário por departamento.

## 9. Resetando Índices
Resete os índices do DataFrame.

## 10. Filtro com Condição de Texto
Filtre as pessoas cujo nome começa com a letra "A".

## 11. Filtragem Avançada
Filtre registros duplicados pela coluna `nome`.

## 12. Concatenação de DataFrames
concatene os dois DataFrames

## 13. Junção de DataFrames
Faça um merge entre `df` e `dados2.csv` usando a coluna `id`.

## 14. Contagem de Valores Únicos
Conte o número de estados únicos.

## 15. Categorização de Dados
Crie uma coluna `faixa_etaria` categorizando a idade em jovem/adulto/idoso.

## 16. Remoção de Duplicatas
Remova duplicatas considerando `email` e `telefone`.